/*ANIMACION NNS en index*/
.presentacion{
    .nnsDad{
        &:hover{
            .divNn1,
            .divNn2,
            .divNn3,
            .divNn4{
                transform: translateY(-23rem);
            }
        }
        .divNn1{
            transition: all 0.5s ease-out;
        }
        .divNn2{
            transition: all 0.5s ease-in-out;
        }
        .divNn3{
            transition: all 0.5s ease;
        }
        .divNn4{
            transition: all 0.5s ease-out;
        }
    }

}

.fondoAnimado {
        animation: fondoAnimacion 10s linear infinite alternate;
    }
    
    @keyframes fondoAnimacion {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 100% 50%;
        }
    }