@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

$ffPrincipal: 'Lato', sans-serif;

$clrVerde: #33A66B;
$clrNaranja: #ff9b43;
$clrGris: #373F47;
$clrClaro: #e8f1f0;
$clrReClaro: #F4FFF8;
$clrRojo: #C5283D;


