@media (min-width: 600px){
    .secciones {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "s1Img s1Txt"
        "s2Txt s2Img"
        "s3Img s3Txt" ;

        .s1Img{
            grid-area: s1Img;
        }
        .s2Img{
            grid-area: s2Img;
        }
        .s3Img{
            grid-area: s3Img;
        }
        .s1Txt{
            grid-area: s1Txt;
        }
        .s2Txt{
            grid-area: s2Txt;
        }
        .s3Txt{
            grid-area: s3Txt;
        }
    }
    .presentacion{
        &Txt{
            h3{
                font-size: 1.6rem;
            }
        }
    }
    main{
        .containerStaff{
            section{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            }
        }
        .containerContacto{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "formulario formulario"
            "cardSur cardCentro";
            .formulario{
                grid-area: formulario;
                width: 95%;
                form{
                    ul{
                        padding: 1rem;
                        li{
                            input{
                                width: 100%;
                            }
                            label{
                                width: 100%;
                            }
                            select{
                                width: 100%;
                                }
                            textarea{
                                width: 100%;
                            }
                            .check{
                                width: 1rem; 
                            }
                            .lebelCheck{
                                width: 1rem;
                            }
                            .boton1{
                                width: 49%;
                            }
                            .boton2{
                                width: 49%;
                            }
                        }
                    }
                }
            }
            .cardSur{
                grid-area: cardSur;
            }
            .cardCentro{
                grid-area: cardCentro;
            }
        }
    }


}

@media (min-width: 1024px){
    .presentacion{
        .presentacionTxt{
            grid-template-columns: 2fr 1fr;
            grid-template-areas: 
            "presentacionFrase ."
            "presentacionPs nnsDad";
        }
        .nnsDad{
            justify-content: flex-end;
            div {
                margin-left: 4rem;
            }
        }
        }
    .secciones {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.2fr;
        grid-template-areas: 
        "s1Img s2Img s3Img"
        "s1Txt s2Txt s3Txt" ;
    }
    .containerSeccion{
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-areas:
        "imgSeccion txtSeccion"
        "vacunas vacunas";
        .txtSeccion{
            grid-area: txtSeccion;
            width: 35rem;
            height: 28rem;
            overflow: scroll;
            h3{
                margin-top: 0rem;
                padding-top: 0;
            }
        }
        .imgSeccion{
            grid-area: imgSeccion; 
            picture{
                img{
                    padding: 0.5rem;
                    width: 100%;
                    height: auto;   
                }
            }  
    
        }
        .vacunas{
            grid-area: vacunas;
        }
    }
    .containerContacto{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "formulario cardSur cardCentro";
        
        .formulario{
            grid-area: formulario;
            width: 20rem;
            form{
                ul{
                    li{
                        input{
                            width: 17.5rem;
                        }
                        label{
                            width: 17.5rem;
                        }
                        select{
                            width: 17.5rem;
                            }
                        textarea{
                            width: 17.5rem;
                        }
                        .check{
                            width: 0.9rem; 
                        }
                        .boton1{
                            width: 8rem;
                        }
                        .boton2{
                            width: 8rem;
                        }
                    }
                }
            }
        }
        .cardSur{
            grid-area: cardSur;
        }
        .cardCentro{
            grid-area: cardCentro;
        }
    }
}