.miNav{
    font-family: $ffPrincipal;
    font-size: 1rem;
    padding-left: 3%;
    height: 5%;
    a{
        text-decoration: none;
        &:hover{
            color: $clrVerde !important;
        }
    }
    .hamburguesa{
        margin-right: 2rem;
        border: 0;
        span{
            border:0;
        }
    } 

    .redes:hover{
            transform: scale(1.2);
        }
    .iso:hover{
        transform: scale(1.2);
    }
    .copy{
        margin-bottom: 0;
        font-weight: 200;
        font-size: 0.6rem;
        color: #373f47;
    }
}
